@mixin ltPhone {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin gtPhone {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin gtTabletSmall {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin ltTabletSmall {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin gtTabletBig {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin ltTabletBig {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin gtDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin ltDesktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin gtBigDesktop {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin ltBigDesktop {
  @media (max-width: 1800px) {
    @content;
  }
}
