@mixin ltPhone {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin gtPhone {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin ltPhoneMedium {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin gtTabletBig {
  @media (min-width: 960px) {
    @content;
  }
}

@mixin ltTabletBig {
  @media (max-width: 1050px) {
    @content;
  }
}

@mixin gtDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin ltSmallDesktop {
  @media (max-width: 1066px) {
    @content;
  }
}

@mixin ltDesktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin gtBigDesktop {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin ltBigDesktop {
  @media (max-width: 1800px) {
    @content;
  }
}
