$mainBlue: #0569ff;
$mainBlueOpacited: rgba(5, 105, 255, 0.42);
$mainBlueDark: #0454cc;

$mainGreen: #43b933;

@mixin transition-fast {
  transition: 0.2s all ease;
}

@mixin smallBtn {
  @apply text-white;
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  height: fit-content;
  @include transition-fast();
}

@mixin sectionPadding {
  @apply pr-4 pl-4;

  @include ltPhone {
    @apply pr-2 pl-2;
  }
}

@mixin shadowy {
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}

@mixin blueBtn {
  @apply bg-mainBlue;

  &:hover {
    @apply bg-mainBlueLight;
  }

  &:active {
    @apply bg-mainBlueDark;
  }
}

@mixin greenBtn {
  @apply bg-mainGreen;

  &:hover {
    @apply bg-mainGreenLight;
  }

  &:active {
    @apply bg-mainGreenDark;
  }
}
